.main-content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
}

.file-upload {
  width: 100%;
  max-width: 400px;
  text-align: left;
}


.file-upload-label {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none; /* Cache l'input pour styliser uniquement le label */
}

.upload-button,
.deselect-button,
.upload-another-button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.upload-button:hover,
.deselect-button:hover,
.upload-another-button:hover {
  background-color: #0056b3;
}

.upload-another-button {
  background-color: #28a745;
}

.upload-another-button:hover {
  background-color: #218838;
}
